.MyDescriptionOuter {
    padding: 20px;
  }
  
  /* Description Text */
  .MyDescription {
    font-size: 16px;
    line-height: 1.6;
    padding-left: 10px !important;
    display: flex;
  justify-content: space-around; 
  align-items: center;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .MyDescriptionOuter {
      padding: 10px;
    }
    
    .MyDescription {
      font-size: 10px;
      
    }

    p {
      width: 70% !important;
    }
  
    /* Image Styling for Smaller Screens */
    img {
      width: 50%; 
      height: 60%; 
      justify-content: center;
    }
  }
  