/* Card Styling */
.AboutMeCard {
  padding: var(--primary-spacing);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #427fb8;
  margin: 2rem 0;
  background-color: #88B4E6;
}

/* Text Column */
.TextColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #88B4E6;
}

.Title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  background-color: #88B4E6;
}

.Paragraph {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  background-color: #88B4E6;
}

/* Image Column */
.ImageColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #88B4E6;
}

.Headshot {
  width: 100%;
  max-width: 315px;
  height: auto;
  border-radius: var(--border-radius);
  object-fit: cover;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .Container {
    width: 95%;
  }

  .Row {
    flex-direction: column-reverse;
  }

  .Title {
    font-size: 1.8rem;
    text-align: center;
  }

  .Paragraph {
    font-size: 1rem;
    text-align: justify;
  }

  .Headshot {
    max-width: 250px;
    margin-top: 1rem;
  }
}
