/* Contact me box */
.ContactMeCard {
    padding: 20px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #427fb7;
    background-color: #011117;
} 
.Row {
  background-color: #011117;
  padding-bottom: 5px;
}
/* Buttons for contact */

.contactButton {
    width: auto;
    font-size: 20px; 
    border: 2px solid #333; 
    background-color: #011117;
    color: #cfd8e8;
  }
  p  {
    background-color: #011117;
    color: #cfd8e8;
  }
  .customCol, h1, strong {
    background-color: #011117;
  }

  
  @media (max-width: 768px) {
    .contactButton {
      font-size: 12px;
      padding: 10px 20px; 
    }
    
    .Container {
      width: 95%;
    }
  
  }
  
  @media (max-width: 576px) {
    .contactButton {
      font-size: 10px;
      padding: 8px 16px; 
    }
  }
  