Job Name Styling
.JobName {
  border-left: 2px solid rgb(57, 52, 52);
  margin-bottom: 5px 0;
  padding-left: 10px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  
}

/* Hover Effect for Job Name */
.JobName:hover {
  background-color: gray;
  cursor: pointer;
}

/* Active Job State */
.active {
  background-color: gray;
  font-weight: bold;
  color: white;
}

/* Job List Styling */
.Job {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  justify-content: space-evenly;
  
}

.TabContent {
  margin-top: 10px;
  text-align: left;
  color: #B8C6D9;
}

/* Left Column - Job List */
.OuterJob {
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 10px; 
  height: 350px;
}

/* Right Column - Job Description */
.Description {
  width: 60%; 
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}




/* Parent Row Styling */
.JobBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(209, 205, 205, 0.1); 
  gap: 20px; 
  height: 400px;
}

/* For smaller screens */
@media (max-width: 768px) {
  .JobName {
    padding-left: 2px 0;
    margin-bottom: 5px;
    font-size: 12px;
  }

  /* .Description {
    font-size: 12px;
    width: 100%;
  } */

  .JobBox {
    flex-direction: column; 
  }

  .OuterJob, .Description {
    width: 100%; 
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  
}
