.JobName {
 border-left: 2px solid rgb(57, 52, 52);
 margin-bottom: 10px;
 
}

.JobName:hover {
  background-color: gray ;
}



.active {
  background-color: gray;
}


.Job {
  display: flex;
  flex-direction: row;
  width: 50%;
  left: 200px;
}