/* Job Name Styling */
.JobName {
  border-left: 2px solid #495770;;
  background-color: #011117;
  transition: background-color 0.3s ease;
  padding: 0.8rem 1rem;
  margin: 0;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #cfd8e8;
}

/* Hover Effect for Job Name */
.JobName:hover {
  background-color:  #0d3a4a;;
  cursor: pointer;
}

/* Active Job State */
.active {
  background-color: #062936;
  font-weight: bold;
  color: white;
}

/* Job List Styling */
.Job {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  justify-content: space-evenly;
  background-color: #011117;
}

/* Tab Content Styling */
.TabContent {
  margin-top: 10px;
  text-align: left;
  color: #cfd8e8;
  background-color: #011117;
}

/* Left Column - Job List */
.OuterJob {
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 10px; 
  height: 350px;
  background-color: #011117; 
}

h5, ul, strong, .CustomPane, .customRow {
  background-color: #011117;
}

li{
  color: #cfd8e8;
  background-color: #011117;
}

/* Right Column - Job Description */
.Description {
  width: 60%; 
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  background-color: #011117;
}

/* Parent Row Styling */
.JobBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 30px;
  border-radius: 10px;
   border: 1px solid #427fb7;
  gap: 20px; 
  height: 550px;
  background-color: #011117;
}

/* Tab Container Styling (For Smaller Screens) */
.TabContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #011117;
}

.TabContainer .nav-tabs {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.TabContent {
  margin-top: 20px;
  font-size: 14px;
  padding: 10px; 
  background-color: #011117;
}


/* For Smaller Screens (max-width: 768px) */
@media (max-width: 768px) {
  .customRow {
    flex-direction: column;
    height: auto !important;
  }

  /* Job Box (Stack vertically for mobile) */
  .JobBox {
    flex-direction: column;
    height: auto !important; 
    padding: 15px;
  }

  /* Ensure job list and description take full width */
  .Description {
    width: 100%;
    margin-top: 25px;
  }

  .OuterJob{
    width: 100%;
    height: 270px;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 40px;
  }

  /* Adjust Job Name styling for mobile */
  .JobName {
    font-size: 14px;
    padding-left: 5px;
    margin-bottom: 8px;
    margin-top: 5px;
  }

  /* Adjust font size of description */
  .Description {
    width: 100%;
    padding: 10px;
  }

  /* Tab Content styling for mobile */
  .TabContent ul {
    padding-left: 20px;
  }

  /* Header styling for mobile */
  .JobHeader {
    font-size: 20px;
    position: absolute;
  right: 35%;
  }
}
