/* .Nav.Item {
    color: ${({ isActive }) => (isActive ? 'var(--green)' : 'var(--slate)')};
} */

.JobName {
 border-left: 2px solid red;
 
}

.JobName:hover {
  background-color: gray ;
}



.active {
  background-color: gray;
}


.Job {
  display: flex;
  flex-direction: row;
  width: 50%;
  left: 200px;
}