* {
    background-color: #2A5C8A;
    color:  #e4edf9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* NavBar */
/* Name in nav bar */
.Name {
    flex: display;
    justify-content: start;
}
/* Resume */
.Resume {
    flex: display;
    justify-content: end;
}
/* resume button */
.Resume button {
  
  border: 2px solid  #031037;
  border-radius: 15px;
  }
  
.Resume button:hover {
    box-shadow: 0 12px 16px 0 rgba(209, 205, 205, 0.1), 0 17px 50px 0 rgba(209, 205, 205, 0.1);
  }

  @media (max-width: 768px) {
    .Name, .Resume, .JobRole  {
      font-size: 14px;
    }
    
  }

