.projectContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}

.projectCard {
    padding: 20px;
    position: relative;
    width: 300px; 
    height: auto; 
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(209, 205, 205, 0.1); 
    text-align: center; 
}

.projectPhoto {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 10px; 
    object-fit: cover;
}
